
    <!--begin::App Wrapper-->
   
        <!--begin::Header-->
      
        <!--end::Header-->
        <!--begin::Sidebar-->
       
        <!--end::Sidebar-->
        <!--begin::App Main-->
      
        <main class="app-main">
            <!--begin::App Content Header-->
            <div class="app-content-header">
                <!--begin::Container-->
                <div class="container-fluid">
                    <!--begin::Row-->
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="mb-0">Dashboard</h3>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-end">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Dashboard
                                </li>
                            </ol>
                        </div>
                    </div>
                    <!--end::Row-->
                </div>
                <!--end::Container-->
            </div>
            <!--end::App Content Header-->
            <!--begin::App Content-->
            <div class="app-content">
                <!--begin::Container-->
                <div class="container-fluid">
                    <!--begin::Row-->
                    <div class="row">
                        <!--begin::Col-->
                        <div class="col-lg-3 col-6">
                            <!--begin::Small Box Widget 1-->
                            <div class="small-box text-bg-primary">
                                <div class="inner">
                                    <h3>150</h3>

                                    <p>New Orders</p>
                                </div>
                                <svg class="small-box-icon" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <path d="M2.25 2.25a.75.75 0 000 1.5h1.386c.17 0 .318.114.362.278l2.558 9.592a3.752 3.752 0 00-2.806 3.63c0 .414.336.75.75.75h15.75a.75.75 0 000-1.5H5.378A2.25 2.25 0 017.5 15h11.218a.75.75 0 00.674-.421 60.358 60.358 0 002.96-7.228.75.75 0 00-.525-.965A60.864 60.864 0 005.68 4.509l-.232-.867A1.875 1.875 0 003.636 2.25H2.25zM3.75 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM16.5 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z"></path>
                                </svg>
                                <a href="#" class="small-box-footer link-light link-underline-opacity-0 link-underline-opacity-50-hover">
                                    More info <i class="bi bi-link-45deg"></i>
                                </a>
                            </div>
                            <!--end::Small Box Widget 1-->
                        </div>
                        <!--end::Col-->
                        <div class="col-lg-3 col-6">
                            <!--begin::Small Box Widget 2-->
                            <div class="small-box text-bg-success">
                                <div class="inner">
                                    <h3>53<sup class="fs-5">%</sup></h3>

                                    <p>Bounce Rate</p>
                                </div>
                                <svg class="small-box-icon" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <path d="M18.375 2.25c-1.035 0-1.875.84-1.875 1.875v15.75c0 1.035.84 1.875 1.875 1.875h.75c1.035 0 1.875-.84 1.875-1.875V4.125c0-1.036-.84-1.875-1.875-1.875h-.75zM9.75 8.625c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-.75a1.875 1.875 0 01-1.875-1.875V8.625zM3 13.125c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v6.75c0 1.035-.84 1.875-1.875 1.875h-.75A1.875 1.875 0 013 19.875v-6.75z"></path>
                                </svg>
                                <a href="#" class="small-box-footer link-light link-underline-opacity-0 link-underline-opacity-50-hover">
                                    More info <i class="bi bi-link-45deg"></i>
                                </a>
                            </div>
                            <!--end::Small Box Widget 2-->
                        </div>
                        <!--end::Col-->
                        <div class="col-lg-3 col-6">
                            <!--begin::Small Box Widget 3-->
                            <div class="small-box text-bg-warning">
                                <div class="inner">
                                    <h3>44</h3>

                                    <p>User Registrations</p>
                                </div>
                                <svg class="small-box-icon" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <path d="M6.25 6.375a4.125 4.125 0 118.25 0 4.125 4.125 0 01-8.25 0zM3.25 19.125a7.125 7.125 0 0114.25 0v.003l-.001.119a.75.75 0 01-.363.63 13.067 13.067 0 01-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 01-.364-.63l-.001-.122zM19.75 7.5a.75.75 0 00-1.5 0v2.25H16a.75.75 0 000 1.5h2.25v2.25a.75.75 0 001.5 0v-2.25H22a.75.75 0 000-1.5h-2.25V7.5z"></path>
                                </svg>
                                <a href="#" class="small-box-footer link-light link-underline-opacity-0 link-underline-opacity-50-hover">
                                    More info <i class="bi bi-link-45deg"></i>
                                </a>
                            </div>
                            <!--end::Small Box Widget 3-->
                        </div>
                        <!--end::Col-->
                        <div class="col-lg-3 col-6">
                            <!--begin::Small Box Widget 4-->
                            <div class="small-box text-bg-danger">
                                <div class="inner">
                                    <h3>65</h3>

                                    <p>Unique Visitors</p>
                                </div>
                                <svg class="small-box-icon" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <path clip-rule="evenodd" fill-rule="evenodd" d="M2.25 13.5a8.25 8.25 0 018.25-8.25.75.75 0 01.75.75v6.75H18a.75.75 0 01.75.75 8.25 8.25 0 01-16.5 0z"></path>
                                    <path clip-rule="evenodd" fill-rule="evenodd" d="M12.75 3a.75.75 0 01.75-.75 8.25 8.25 0 018.25 8.25.75.75 0 01-.75.75h-7.5a.75.75 0 01-.75-.75V3z"></path>
                                </svg>
                                <a href="#" class="small-box-footer link-light link-underline-opacity-0 link-underline-opacity-50-hover">
                                    More info <i class="bi bi-link-45deg"></i>
                                </a>
                            </div>
                            <!--end::Small Box Widget 4-->
                        </div>
                        <!--end::Col-->
                    </div>
                    <!--end::Row-->
                    <!--begin::Row-->
                    <div class="row">
                        <!-- Start col -->
                        <div class="col-lg-7 connectedSortable">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <h3 class="card-title">Sales Value</h3>
                                </div>

                                <div class="card-body">
                                    <div id="revenue-chart"></div>
                                </div>
                            </div>
                            <!-- /.card -->
</div>
<div class="col-lg-5 connectedSortable">
<div class="card mb-4">
    <div class="card-header">
        <h3 class="card-title">Browser Usage</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-lte-toggle="card-collapse">
                <i data-lte-icon="expand" class="bi bi-plus-lg"></i>
                <i data-lte-icon="collapse" class="bi bi-dash-lg"></i>
            </button>
            <button type="button" class="btn btn-tool" data-lte-toggle="card-remove">
                <i class="bi bi-x-lg"></i>
            </button>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <!--begin::Row-->
        <div class="row">
            <div class="col-12">
                <div id="pie-chart">
                   <div id="apexchartsvwg3jzyp" class="apexcharts-canvas apexchartsvwg3jzyp apexcharts-theme-light" style="width: 360px; height: 227.7px;"><svg id="SvgjsSvg1262" width="360" height="227.7" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG1264" class="apexcharts-inner apexcharts-graphical" transform="translate(22, 0)"><defs id="SvgjsDefs1263"><clipPath id="gridRectMaskvwg3jzyp"><rect id="SvgjsRect1266" width="231" height="249" x="-3" y="-1" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="forecastMaskvwg3jzyp"></clipPath><clipPath id="nonForecastMaskvwg3jzyp"></clipPath><clipPath id="gridRectMarkerMaskvwg3jzyp"><rect id="SvgjsRect1267" width="229" height="251" x="-2" y="-2" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><filter id="SvgjsFilter1275" filterUnits="userSpaceOnUse" width="200%" height="200%" x="-50%" y="-50%"><feComponentTransfer id="SvgjsFeComponentTransfer1276" result="SvgjsFeComponentTransfer1276Out" in="SourceGraphic"><feFuncR id="SvgjsFeFuncR1277" type="linear" slope="0.5"></feFuncR><feFuncG id="SvgjsFeFuncG1278" type="linear" slope="0.5"></feFuncG><feFuncB id="SvgjsFeFuncB1279" type="linear" slope="0.5"></feFuncB><feFuncA id="SvgjsFeFuncA1280" type="identity"></feFuncA></feComponentTransfer></filter></defs><g id="SvgjsG1268" class="apexcharts-pie"><g id="SvgjsG1269" transform="translate(0, 0) scale(1)"><circle id="SvgjsCircle1270" r="67.44146341463416" cx="112.5" cy="112.5" fill="transparent"></circle><g id="SvgjsG1271" class="apexcharts-slices"><g id="SvgjsG1272" class="apexcharts-series apexcharts-pie-series" seriesName="Chrome" rel="1" data:realIndex="0"><path id="SvgjsPath1273" d="M 112.5 4.743902439024382 A 107.75609756097562 107.75609756097562 0 0 1 219.66579838383004 123.76357928576812 L 179.57201202153203 119.54955253125338 A 67.44146341463416 67.44146341463416 0 0 0 112.5 45.05853658536584 L 112.5 4.743902439024382 z" fill="rgba(13,110,253,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-0" index="0" j="0" selected="true" filter="url(#SvgjsFilter1275)" data:angle="96.92307692307692" data:startAngle="0" data:strokeWidth="2" data:value="700" data:pathOrig="M 112.5 8.743902439024382 A 103.75609756097562 103.75609756097562 0 0 1 215.49959879056394 125.00641555624742 L 179.44973921386656 120.62917011156082 A 67.44146341463416 67.44146341463416 0 0 0 112.5 45.05853658536584 L 112.5 8.743902439024382 z" stroke="#ffffff" data:pieClicked="true"></path></g><g id="SvgjsG1281" class="apexcharts-series apexcharts-pie-series" seriesName="Edge" rel="2" data:realIndex="1"><path id="SvgjsPath1282" d="M 215.49959879056394 125.00641555624742 A 103.75609756097562 103.75609756097562 0 0 1 137.3304594116896 213.2411339348884 L 128.63979861759822 177.9817370576775 A 67.44146341463416 67.44146341463416 0 0 0 179.44973921386656 120.62917011156082 L 215.49959879056394 125.00641555624742 z" fill="rgba(32,201,151,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-1" index="0" j="1" data:angle="69.23076923076921" data:startAngle="96.92307692307692" data:strokeWidth="2" data:value="500" data:pathOrig="M 215.49959879056394 125.00641555624742 A 103.75609756097562 103.75609756097562 0 0 1 137.3304594116896 213.2411339348884 L 128.63979861759822 177.9817370576775 A 67.44146341463416 67.44146341463416 0 0 0 179.44973921386656 120.62917011156082 L 215.49959879056394 125.00641555624742 z" stroke="#ffffff"></path></g><g id="SvgjsG1283" class="apexcharts-series apexcharts-pie-series" seriesName="FireFox" rel="3" data:realIndex="2"><path id="SvgjsPath1284" d="M 137.3304594116896 213.2411339348884 A 103.75609756097562 103.75609756097562 0 0 1 43.69698077667462 190.16255421267965 L 67.7780375048385 162.9806602382418 A 67.44146341463416 67.44146341463416 0 0 0 128.63979861759822 177.9817370576775 L 137.3304594116896 213.2411339348884 z" fill="rgba(255,193,7,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-2" index="0" j="2" data:angle="55.38461538461539" data:startAngle="166.15384615384613" data:strokeWidth="2" data:value="400" data:pathOrig="M 137.3304594116896 213.2411339348884 A 103.75609756097562 103.75609756097562 0 0 1 43.69698077667462 190.16255421267965 L 67.7780375048385 162.9806602382418 A 67.44146341463416 67.44146341463416 0 0 0 128.63979861759822 177.9817370576775 L 137.3304594116896 213.2411339348884 z" stroke="#ffffff"></path></g><g id="SvgjsG1285" class="apexcharts-series apexcharts-pie-series" seriesName="Safari" rel="4" data:realIndex="3"><path id="SvgjsPath1286" d="M 43.69698077667462 190.16255421267965 A 103.75609756097562 103.75609756097562 0 0 1 27.110405719228865 53.55981871721135 L 56.99676371749876 74.18888216618737 A 67.44146341463416 67.44146341463416 0 0 0 67.7780375048385 162.9806602382418 L 43.69698077667462 190.16255421267965 z" fill="rgba(214,51,132,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-3" index="0" j="3" data:angle="83.07692307692307" data:startAngle="221.53846153846152" data:strokeWidth="2" data:value="600" data:pathOrig="M 43.69698077667462 190.16255421267965 A 103.75609756097562 103.75609756097562 0 0 1 27.110405719228865 53.55981871721135 L 56.99676371749876 74.18888216618737 A 67.44146341463416 67.44146341463416 0 0 0 67.7780375048385 162.9806602382418 L 43.69698077667462 190.16255421267965 z" stroke="#ffffff"></path></g><g id="SvgjsG1287" class="apexcharts-series apexcharts-pie-series" seriesName="Opera" rel="5" data:realIndex="4"><path id="SvgjsPath1288" d="M 27.110405719228865 53.55981871721135 A 103.75609756097562 103.75609756097562 0 0 1 87.66954058831038 11.75886606511159 L 96.36020138240175 47.018262942322536 A 67.44146341463416 67.44146341463416 0 0 0 56.99676371749876 74.18888216618737 L 27.110405719228865 53.55981871721135 z" fill="rgba(111,66,193,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-4" index="0" j="4" data:angle="41.53846153846155" data:startAngle="304.6153846153846" data:strokeWidth="2" data:value="300" data:pathOrig="M 27.110405719228865 53.55981871721135 A 103.75609756097562 103.75609756097562 0 0 1 87.66954058831038 11.75886606511159 L 96.36020138240175 47.018262942322536 A 67.44146341463416 67.44146341463416 0 0 0 56.99676371749876 74.18888216618737 L 27.110405719228865 53.55981871721135 z" stroke="#ffffff"></path></g><g id="SvgjsG1289" class="apexcharts-series apexcharts-pie-series" seriesName="IE" rel="6" data:realIndex="5"><path id="SvgjsPath1290" d="M 87.66954058831038 11.75886606511159 A 103.75609756097562 103.75609756097562 0 0 1 112.48189114487732 8.743904019320112 L 112.48822924417026 45.05853761255807 A 67.44146341463416 67.44146341463416 0 0 0 96.36020138240175 47.018262942322536 L 87.66954058831038 11.75886606511159 z" fill="rgba(173,181,189,1)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-pie-area apexcharts-donut-slice-5" index="0" j="5" data:angle="13.846153846153868" data:startAngle="346.15384615384613" data:strokeWidth="2" data:value="100" data:pathOrig="M 87.66954058831038 11.75886606511159 A 103.75609756097562 103.75609756097562 0 0 1 112.48189114487732 8.743904019320112 L 112.48822924417026 45.05853761255807 A 67.44146341463416 67.44146341463416 0 0 0 96.36020138240175 47.018262942322536 L 87.66954058831038 11.75886606511159 z" stroke="#ffffff"></path></g></g></g></g><line id="SvgjsLine1291" x1="0" y1="0" x2="225" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1292" x1="0" y1="0" x2="225" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line></g><g id="SvgjsG1265" class="apexcharts-annotations"></g></svg><div class="apexcharts-legend apexcharts-align-center apx-legend-position-right" style="position: absolute; left: auto; top: 24px; right: 5px;"><div class="apexcharts-legend-series" rel="1" seriesname="Chrome" data:collapsed="false" style="margin: 2px 5px;"><span class="apexcharts-legend-marker" rel="1" data:collapsed="false" style="background: rgb(13, 110, 253) !important; color: rgb(13, 110, 253); height: 12px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span><span class="apexcharts-legend-text" rel="1" i="0" data:default-text="Chrome" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Chrome</span></div><div class="apexcharts-legend-series" rel="2" seriesname="Edge" data:collapsed="false" style="margin: 2px 5px;"><span class="apexcharts-legend-marker" rel="2" data:collapsed="false" style="background: rgb(32, 201, 151) !important; color: rgb(32, 201, 151); height: 12px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span><span class="apexcharts-legend-text" rel="2" i="1" data:default-text="Edge" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Edge</span></div><div class="apexcharts-legend-series" rel="3" seriesname="FireFox" data:collapsed="false" style="margin: 2px 5px;"><span class="apexcharts-legend-marker" rel="3" data:collapsed="false" style="background: rgb(255, 193, 7) !important; color: rgb(255, 193, 7); height: 12px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span><span class="apexcharts-legend-text" rel="3" i="2" data:default-text="FireFox" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">FireFox</span></div><div class="apexcharts-legend-series" rel="4" seriesname="Safari" data:collapsed="false" style="margin: 2px 5px;"><span class="apexcharts-legend-marker" rel="4" data:collapsed="false" style="background: rgb(214, 51, 132) !important; color: rgb(214, 51, 132); height: 12px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span><span class="apexcharts-legend-text" rel="4" i="3" data:default-text="Safari" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Safari</span></div><div class="apexcharts-legend-series" rel="5" seriesname="Opera" data:collapsed="false" style="margin: 2px 5px;"><span class="apexcharts-legend-marker" rel="5" data:collapsed="false" style="background: rgb(111, 66, 193) !important; color: rgb(111, 66, 193); height: 12px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span><span class="apexcharts-legend-text" rel="5" i="4" data:default-text="Opera" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Opera</span></div><div class="apexcharts-legend-series" rel="6" seriesname="IE" data:collapsed="false" style="margin: 2px 5px;"><span class="apexcharts-legend-marker" rel="6" data:collapsed="false" style="background: rgb(173, 181, 189) !important; color: rgb(173, 181, 189); height: 12px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span><span class="apexcharts-legend-text" rel="6" i="5" data:default-text="IE" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">IE</span></div></div><div class="apexcharts-tooltip apexcharts-theme-dark" style="left: 197.875px; top: 107.4px;"><div class="apexcharts-tooltip-series-group apexcharts-active" style="order: 1; display: flex; background-color: rgb(32, 201, 151);"><span class="apexcharts-tooltip-marker" style="background-color: rgb(32, 201, 151); display: none;"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label">Edge: </span><span class="apexcharts-tooltip-text-y-value">500</span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group" style="order: 2; display: none; background-color: rgb(32, 201, 151);"><span class="apexcharts-tooltip-marker" style="background-color: rgb(32, 201, 151); display: none;"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label">Edge: </span><span class="apexcharts-tooltip-text-y-value">500</span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group" style="order: 3; display: none; background-color: rgb(32, 201, 151);"><span class="apexcharts-tooltip-marker" style="background-color: rgb(32, 201, 151); display: none;"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label">Edge: </span><span class="apexcharts-tooltip-text-y-value">500</span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group" style="order: 4; display: none; background-color: rgb(32, 201, 151);"><span class="apexcharts-tooltip-marker" style="background-color: rgb(32, 201, 151); display: none;"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label">Edge: </span><span class="apexcharts-tooltip-text-y-value">500</span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group" style="order: 5; display: none; background-color: rgb(32, 201, 151);"><span class="apexcharts-tooltip-marker" style="background-color: rgb(32, 201, 151); display: none;"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label">Edge: </span><span class="apexcharts-tooltip-text-y-value">500</span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group" style="order: 6; display: none; background-color: rgb(32, 201, 151);"><span class="apexcharts-tooltip-marker" style="background-color: rgb(32, 201, 151); display: none;"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label">Edge: </span><span class="apexcharts-tooltip-text-y-value">500</span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div></div>
            </div>
            <!-- /.col -->
        </div>
        <!--end::Row-->
    </div>
    <!-- /.card-body -->
    <div class="card-footer p-0">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a href="#" class="nav-link">
                    United States of America
                    <span class="float-end text-danger">
                        <i class="bi bi-arrow-down fs-7"></i>
                        12%
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    India
                    <span class="float-end text-success">
                        <i class="bi bi-arrow-up fs-7"></i> 4%
                    </span>
                </a>
            </li>
            
        </ul>
    </div>
    <!-- /.footer -->
</div>
</div>
</div>
                            <!-- DIRECT CHAT -->
                            <div class="card">
                                <div class="card-header border-0">
                                    <h3 class="card-title">Categories</h3>
                                    <div class="card-tools">
                                        <a href="add-category" class="btn btn-tool btn-lg btn-primary">
                                            <i class="bi bi-plus"></i>New Category
                                        </a>
                                        <!-- <a href="#" class="btn btn-tool btn-sm">
                                            <i class="bi bi-list"></i>
                                        </a> -->
                                    </div>
                                </div>
                                <div class="card-body table-responsive p-0">
                                    <table class="table table-striped align-middle">
                                        <thead>
                                            <tr>
                                                <th>Category</th>
                                               
                                                <th>Actions</th>
                                                <!-- <th>Sales</th>
                                                <th>More</th> -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% categories.forEach(category => { %>
                                               
                                              
                                            <tr>
                                                <td>
                                                    <%= category.name %>
                                                </td>
                                                <!-- <td>
                                                    <%= category.description %>
                                                </td> -->
                                                <td>
                                                <a href="edit-category/<%= category._id %>" type="button" class="btn btn-warning btn-small">
                                                    <i class="bi bi-pencil"></i>
                                                  </a>                         
                                                </td>                                    
                                                </tr>
                                                <% }); %>
                                                
                                               
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.direct-chat -->
                        <!-- </div> -->
                        <!-- /.Start col -->

                        <!-- Start col -->
                      
                        <!-- /.Start col -->
                    </div>
                    <!-- /.row (main row) -->
              
                <!--end::Container-->
            </div>
            <!--end::App Content-->
        </main>
        <!--end::App Main-->
        <!--begin::Footer-->
      
        <!--end::Footer-->
    
    <!--end::App Wrapper-->
    <!--begin::Script-->
    <!--begin::Third Party Plugin(OverlayScrollbars)-->
   