<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<form class="form-horizontal" action="/admin/edit-category/<%= category._id%>" method="post">
<fieldset>

<!-- Form Name -->
<legend> EDIT CATEGORY</legend>

<!-- Text input-->


<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="product_name">CATEGORY NAME</label>  
  <div class="col-md-4">
  <input id="product_name" name="name" value="<%=category.name%>" class="form-control input-md" required="" type="text">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="product_name_fr">CATEGORY DESCRIPTION </label>  
  <div class="col-md-4">
  <input id="product_name_fr" name="description" value="<%=category.description%>" class="form-control input-md" required="" type="text">
    
  </div>
</div>

<!-- Select Basic -->

<!-- Text input-->


<!-- Text input-->



<!-- Textarea -->


<!-- Textarea -->


<!-- Text input-->


<!-- Search input-->

<!-- Search input-->


<!-- Text input-->


<!-- Text input-->


<!-- Text input-->


<!-- Text input-->


<!-- Text input-->

 <!-- File Button --> 

<!-- File Button --> 


<!-- Button -->
<div class="form-group">
  
  <div class="col-md-4">
    <button  type="submit" name="singlebutton" class="btn btn-primary ml-5">Submit</button>
  </div>
  </div>

</fieldset>
</form>
