<section class="main-banner" id="home">
    <div class="js-parallax-scene">
        <div class="banner-shape-1 w-100" data-depth="0.30">
            <img src="/assetsimages/berry.png" alt="">
        </div>
        <div class="banner-shape-2 w-100" data-depth="0.25">
            <img src="/assetsimages/leaf.png" alt="">
        </div>
    </div>
    <div class="sec-wp">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner-text">
                        <h1 class="h1-title">
                            Welcome  to
                            <span><%= username %>'s</span>
                           Cart
                        </h1>
                        <p>This is Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam eius
                            vel tempore consectetur nesciunt? Nam eius tenetur recusandae optio aperiam.</p>
                        <!-- <p>Hi, <%= username %></p> -->
                        <!-- <a href="/api/v1/users/logout">Logout</a> -->
                        <div class="banner-btn mt-4">
                            <a href="/api/v1/users/logout" class="sec-btn">Logout</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="banner-img-wp">
                        <div class="banner-img" style="background-image: url(/assetsimages/main-b.jpg);">
                        </div>
                    </div>
                    <div class="banner-img-text mt-4 m-auto">
                        <h5 class="h5-title">Sushi</h5>
                        <p>this is Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- <h1>Welcome to Cart</h1>
<h2>Hi, <%= username %></h2>
<a href="/api/v1/users/logout">Logout</a> -->