<div class="wrapper">
    <div class="logo">
      <!-- Your logo here -->
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5z1j4fLB5vtHtqFP5ukPMpP0W9TGNNCKPXBYy2NDlOd8ZA7gNO8rI8fFZFbww4vRFxNg&usqp=CAU" alt="">
    </div>
    
    <% if (successMessage) { %>
        <div class="alert-success">
          <%= successMessage %>
        </div>
        <% } %>
    
      <% if (errorMessage) { %>
        <div class="alert-danger">
          <%= errorMessage %>
        </div>
      <% } %>
  
    <div class="text-center mt-4 name">
      Forgot Password
    </div>
    <form action="/forgot-password" method="post" class="p-3 mt-3">
      <div class="form-field d-flex align-items-center">
        <span class="far fa-envelope"></span> <!-- Use an envelope icon for email -->
        <input type="email" name="email" id="emailId" placeholder="Email">
      </div>
      
      <button type="submit" class="btn mt-3">Send Reset link</button>
    </form>
    <div class="text-center fs-6">
      <a href="/login">Back to Login</a>
    </div>
  </div>
  
  <script>
    document.getElementById('exampleCheck1').addEventListener('change', () => {
      let form3Example4 = document.getElementById('form3Example4');
      
      if (form3Example4.getAttribute('type') == 'password' ) {
        form3Example4.setAttribute('type', 'text');
      } else {
        form3Example4.setAttribute('type', 'password');
      }
    })
  </script>
  