

  <div class="container">
    <form action="/send-otp" method="post" id="demo-form">
    <div id="sender">
      <input type="text" id="number" name="mobile"  placeholder="+91...">
      <div id="recaptcha-container"></div>
      <input type="submit" id="send" value="send">
      <!-- <button class="g-recaptcha" 
        data-sitekey="6LeRaMMnAAAAAAMKAPfxpVWtCwx-armW7UIpTD3t" 
        data-callback='onSubmit' 
        data-action='submit'>Submit</button> -->
      <!-- <input type="submit" id="send" value="send"> -->
    </div>
    <div id="verifier" style="display: none;">
      <input type="text" id="verificationcode" placeholder="OTP code">
      <input type="button" id="verify" value="verify">
      <div class="p-config">Number verfied</div>
      <div class="n-config">OTP ERROR</div>
    </div>
  </form>
  </div>

  <script>
    function onSubmit(token) {
      document.getElementById("demo-form").submit();
    }
  </script>

 