<div class="wrapper">
    <div class="logo">
      <!-- Your logo here -->
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5z1j4fLB5vtHtqFP5ukPMpP0W9TGNNCKPXBYy2NDlOd8ZA7gNO8rI8fFZFbww4vRFxNg&usqp=CAU" alt="">
    </div>
    
   

  
    <div class="text-center mt-4 name">
      Reset Password
    </div>
    
    <form action="/reset-password/<%= token %>" method="post" class="p-3 mt-3">

      <div class="form-field d-flex align-items-center">
        <span class="far fa-key"></span>
        <input type="password" name="password" id="form3Example4" placeholder="New Password" maxlength="6" required >
        <input type="hidden" name="user_id" value="<%=user_id%>">
      </div>
      
      <button type="submit" class="btn mt-3">Reset Password</button>
    </form>
    <div class="text-center fs-6">
      <a href="/login">Back to Login</a>
    </div>
  </div>
  
  <script>
    document.getElementById('exampleCheck1').addEventListener('change', () => {
      let form3Example4 = document.getElementById('form3Example4');
      
      if (form3Example4.getAttribute('type') == 'password' ) {
        form3Example4.setAttribute('type', 'text');
      } else {
        form3Example4.setAttribute('type', 'password');
      }
    })
  </script>
  