
<div class="container"><div id="verifier" >
  Hii
    <input type="text" id="verificationcode" placeholder="OTP code">
    <input type="button" id="verify" value="verify">
    <div class="p-config">Number verfied</div>
    <div class="n-config">OTP ERROR</div>
  </div>
</div>